# Environnement virtuel
venv/
.venv/

# Variables d'environnement
.env

# Cache Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Modèles / données volumineuses
models/
data/
*.faiss
*.pkl
*.pickle

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Système
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem